extends layout

block content
  div

    h1.fs-3 Welcome to !{title}
  
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptate quis, repudiandae soluta quasi sint facilis eum temporibus autem ex omnis saepe nisi tempora fugit consectetur recusandae perspiciatis voluptatum est.
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum vitae non eos debitis? Ea sunt fuga officiis, eum perferendis eligendi recusandae dolore, provident in dicta atque animi cumque et nulla.
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum vitae non eos debitis? Ea sunt fuga officiis, eum perferendis eligendi recusandae dolore, provident in dicta atque animi cumque et nulla.
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum vitae non eos debitis? Ea sunt fuga officiis, eum perferendis eligendi recusandae dolore, provident in dicta atque animi cumque et nulla.
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum vitae non eos debitis? Ea sunt fuga officiis, eum perferendis eligendi recusandae dolore, provident in dicta atque animi cumque et nulla.